<%layout("/layout/bollerplate")%>

    <body>
        <div id="carouselExampleInterval" class="carousel slide mt-3" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <img src="/photo/banner1.jpg" class="d-block w-100" alt="imaage not fount"
                        style="width: 100%; height: 30rem;">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="/photo/banner2.jpg" class="d-block w-100" alt="image not found"
                        style="width: 100%; height: 30rem;">
                </div>
                <div class="carousel-item">
                    <img src="/photo/banner3.jpg" class="d-block w-100" alt="image not found"
                        style="width: 100%; height: 30rem;">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 mt-3">
            <% for(let product of allproduct){ %>
                <a href="/product/<%= product._id %>" class="listing-link">
                    <div class="card col">

                        <!-- Correct Image -->
                        <img src="<%= product.image %>" class="card-img-top" alt="image not available"
                            style="width: 100%; height: 20rem;">
                        <div class="card-body">
                            <p class="card-text">
                                <b>
                                    <%= product.company %>
                                </b> <br>
                                <%= product.item_name %> <br>
                                    <span style="font-weight: bold; color:#ff3f6c;">
                                        ₹<%= product.current_price %>
                                    </span>
                                    <span style="text-decoration: line-through; color:gray;">
                                        ₹<%= product.original_price %>
                                    </span>
                                    <span style="color:green;">
                                        (<%= product.discount_percentage %>% OFF)
                                    </span>
                            </p>
                            <div class="d-grid gap-2">
                                <form method="POST" action="/add-to-cart/<%= product._id %>">
                                    <button class="btn btn-primary w-100">Add to Cart</button>
                                </form>
                                <button class="btn btn-success">Buy</button>
                            </div>
                        </div>

                    </div>
                </a>
                <% } %>
        </div>

    </body>